
*.pper

.Rproj.user/83C82E1D/saved_source_markers

.Rproj.user/83C82E1D/sdb/prop/172B6BC9

.Rproj.user/83C82E1D/sdb/prop/7A475660

.Rproj.user/83C82E1D/sdb/prop/INDEX

.Rproj.user/83C82E1D/sdb/s-E75CC333/lock_file

.Rproj.user/83C82E1D/sdb/prop/B48E0EEA

.Rproj.user/83C82E1D/sdb/prop/A083CDE6
.Rproj.user
