
*.pper

.Rproj.user/83C82E1D/persistent-state

.Rproj.user/83C82E1D/sdb/prop/2626EEDC

.Rproj.user/83C82E1D/sdb/prop/172B6BC9

.Rproj.user/83C82E1D/saved_source_markers

.Rproj.user/83C82E1D/sdb/prop/400B2F4A

.Rproj.user/83C82E1D/sdb/prop/7AA0CF0F

.Rproj.user/83C82E1D/sdb/prop/7A475660

.Rproj.user/83C82E1D/sdb/prop/9D37559F

.Rproj.user/83C82E1D/sdb/prop/A083CDE6

.Rproj.user/83C82E1D/sdb/prop/924B9D7C

.Rproj.user/83C82E1D/sdb/prop/A88D7608

.Rproj.user/83C82E1D/sdb/prop/8313FE99

.Rproj.user/83C82E1D/sdb/prop/INDEX

.Rproj.user/83C82E1D/sdb/prop/B48E0EEA

.Rproj.user/83C82E1D/sdb/s-8B04F3D9/lock_file

.Rproj.user/83C82E1D/sdb/prop/287C73EC

.Rproj.user/83C82E1D/sdb/prop/502A7DFD
.Rproj.user
.DS_Store
